/* Reiniciar el navegador para evitar diferencia de estilos */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* estilos generales del cuerpo de la pagina */
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background: #f0f0f5;
    color: black;
}

/* estilo para el encabezado en degradado*/
.site-header{
    background: linear-gradient(90deg, #c0c0c0, #faebd7);
    color: #eee8aa;
    padding: 20px;
    text-align: center;
}